mat-sidenav {
  width: 300px;
}

.container {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page-content {
  flex: 1 1 auto;
  // position: relative;
  overflow-y: auto;
  padding-left: 8dp;
  padding-right: 8dp;
}
