<h2 mat-dialog-title>Create new board</h2>

<mat-dialog-content>
  <div *ngIf="status === 'READY'">
    <p>Enter a Title and Description for the new Board.</p>
    <mat-form-field appearance="fill" class="text">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="titleControl" />
      <mat-error *ngIf="titleControl.hasError('required')">
        A Title is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="text">
      <mat-label>Description</mat-label>
      <textarea matInput [formControl]="descriptionControl"></textarea>
      <mat-error *ngIf="descriptionControl.hasError('required')">
        A Description is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="status === 'CREATING'">
    <p>Creating board</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div *ngIf="status === 'READY'">
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="create()">Create</button>
  </div>

  <div *ngIf="status === 'CREATING'">
    <mat-progress-bar
      color="primary"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>
</mat-dialog-actions>
