<h2 mat-dialog-title>Join</h2>
<mat-dialog-content>
  <div *ngIf="state == stateIdle">
    <p>Enter your Email and Password to join.</p>
    <mat-form-field appearance="fill" class="text">
      <mat-label>Email Address</mat-label>
      <input matInput [formControl]="emailControl" placeholder="john.doe@example.com">
      <mat-error *ngIf="emailControl.hasError('email') || emailControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="text">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'">
      <mat-error *ngIf="passwordControl.hasError('required')">
        Please enter a password
      </mat-error>
      <button mat-icon-button matSuffix tabindex="-1" (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="text">
      <mat-label>Verify Password</mat-label>
      <input matInput [formControl]="verifyControl" [type]="hidePassword ? 'password' : 'text'">
      <mat-error *ngIf="verifyControl.hasError('required')">
        Please enter a password
      </mat-error>
      <button mat-icon-button matSuffix tabindex="-1" (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="state == stateBusy">
    <p>Joining</p>
    <div class="spinContainer">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="state == stateSuccess">
    <p>An verification email has been sent to <u>{{ email }}</u>.</p>
    <p>Please check your emails, and click the link to verify your account.</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="state == stateIdle">
  <span class="spacer"></span>
  <button mat-raised-button (click)="join()" color="primary">Join</button>
</mat-dialog-actions>

<mat-dialog-actions *ngIf="state == stateSuccess">
  <span class="spacer"></span>
  <button mat-raised-button (click)="close()" color="primary">Ok</button>
</mat-dialog-actions>