<mat-toolbar color="primary">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxHide.gt-sm>
      <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/home">
          WRX Owners Club of Western Australia
      </a>
  </div>

  <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md>
      <a routerLink="/home">
          WRX Owners Club of Western Australia
      </a>
      <app-topnav></app-topnav>
  </div>
</mat-toolbar>